

.border--one{position: relative;box-sizing: border-box}
.border--one::after{content: '';position: absolute;left: 0;bottom: 0;transform-origin: 0 0;transform: scaleY(0.5);box-sizing: border-box;border: 1px solid #e3e3e3;width: 100%}



.bar .icon{font-size: 0.9rem;}
.bar .button-link{color: #111111}
.search-input input{border-radius: 2rem}
.bar{background: #fff;height: auto;padding: 0 4vw; }
.bar .searchbar{background: none; height: 11.7333vw; box-sizing: border-box;padding: 1.2vw .5rem}
.bar .searchbar .search-input input{background: #f1f1f1}
.bar .button.pull-left{margin-right: 0;}
.bar .searchbar{padding-right: 0}
.searchbar .search-input input{height:9.0667vw}
.nav{width: 100vw;position: relative; margin-left: -4vw;}
.nav::after{border-color: #f4f4f4;}
.nav__txt{ display: flex; justify-content: space-around;padding: 1px 0}
.nav__txt a{font-size: 4.5333vw;color: #333; padding: 2.4vw 0; position: relative;}
.nav__txt .active{ color: #ff6600;border-bottom: 2px solid #ff6600;}
.index .bar-nav~.content{top: 4.3rem}
body,.page-group,.page{background: #fff}

.article{padding: 0 4vw}
.article--item{ display: flex;padding: 5.8667vw 0}
.article img{width: 29.3333vw; height: 21.6vw;}
.article__txt{font-size: 4.5333vw; padding-left: 4.8vw; flex: 1}
.article__date{text-align: right;font-size: 2.9333vw;}

.article--item::after{border-color: #e3e3e3;}
.article__content{ display: flex; flex-direction: column; justify-content: space-around}






